body {
  margin: 0;
  
  font-family: 'Tektur', sans-serif;
  color: #171717;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}

h1 {
  font-size: 35px;
  color: #00884d;
  text-shadow: 0 0 8px rgba(73, 247, 166, 0.952);
  margin-bottom: 1rem;
  margin-top: 5rem;
  text-align:center;
}


#package-search {
  padding: 0.7rem 1rem;
  border-radius: 12px;
  border: none;
  width: 90%;
  max-width: 500px;
  margin-bottom: 2rem;
}

.packages-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 2rem;
  margin-bottom: 5rem;
  justify-items: center;
  width: 100%;
  max-width: 1200px;
}

.package-card {
  width: 100%;
  max-width: 350px;
  border-radius: 20px;
  background: #171717;
  color: #171717;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  height: 500px;
}

.package-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.package-card img {
  width: 220px;
  height: 320px;
  border-radius: 10%;
  margin-top: 5%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  background-color: #d0d0d0;
}

.package-card h2 {
  margin-top: 1rem;
  text-align: center;
}

.read-more-btn {
  display:inline-block;
  padding: 10px 20px;
  background: transparent;
  border: 2px solid #00ff66;
  border-radius: 25px;
  color: #00ff66;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  margin-top: 50px;
}

.read-more-btn:hover {
  background: #00ff66;
  color: #0b0b0b;
  box-shadow: 0 0 10px #00ff66;
}

.expanded-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color:  #d0d0d0;
  color: #171717;
  z-index: 100;
  border-radius: 0;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.expanded-card img {
  width: 250px;
  height: 250px;
  margin: 5rem auto 2rem;
  border-radius: 10%;
}

.expanded-card h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.expanded-card p {
  white-space: pre-line;
  font-size: 1rem;
  line-height: 1.6;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 5rem;
  right: 2rem;
  font-size: 2rem;
  background: none;
  border: none;
  color: #171717;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .packages-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 768px) {
  .packages-grid {
    grid-template-columns: 1fr; 
  }
  #package-search {
    width: 95%;
  }
  .package-card {
    max-width: 90%;
  }
}