        main {
            perspective: 1200px;
            transform-style: preserve-3d;
            overflow-x: hidden;
            font-family: 'Tektur', sans-serif;
        }

        section.booth {
            padding: 6rem 4rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 3rem;
       
        }

        section.booth:nth-child(odd) {
            background-color:#000000;
            color: #e0e0e0;
        }

        section.booth:nth-child(even) {
            background-color: #e0e0e0;
            color:  #171717;
        }

      

        .booth-text {
            flex: 1 1 45%;
        }

        .booth-text h2 {
            color: #00ff88;
            font-size: 2rem;
            margin-bottom: 1rem;
            text-shadow: 0 0 10px rgba(0, 255, 136, 0.5);
        }

        .booth-text p {
            line-height: 1.8;
            font-size: 1.1rem;
            text-align: justify;
        }

        section:nth-child(even) .booth-text h2 {
            color: #00884d;
            text-shadow: 0 0 8px rgba(0, 255, 136, 0.3);
        }

        section:nth-child(even) .booth-text p {
            color:  #171717;
        }

        .booth-image {
            flex: 1 1 45%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .booth-image img {
            width: 30%;
            max-width: 500px;
            border-radius: 12px;
            box-shadow: 0 0 25px rgba(0, 255, 102, 0.3);
        }

        .pricing {
            margin-top: 1.5rem;
            font-size: 1.1rem;
            color: #00ff88;
        }

        section:nth-child(even) .pricing {
            color: #00884d;
        }

        @media (max-width: 768px) {
            section.booth {
                flex-direction: column;
                text-align: center;
            }

            .booth-image {
                order: -1;
                margin-bottom: 2rem;
                width: 100%;
            }
        }