body {
    margin-top: 9rem;
    background-color: #0f0f0f;
    background-image: none;
}


main {
    perspective: 1200px;
    transform-style: preserve-3d;
}

section.booth {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 4rem;
    gap: 10rem;
    transition: transform 0.8s ease, opacity 0.8s ease;
}

section.booth:nth-child(odd) {
    background-color:#0f0f0f;
    color: #e0e0e0;
}

section.booth:nth-child(even) {
    background-color: #e0e0e0;
    color:  #171717;
}

.booth-text {
    flex: 1 1 45%;
    transform-origin: center;
    will-change: transform, opacity;
}

.booth-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #00ff88;
    text-shadow: 0 0 10px rgba(0, 255, 136, 0.3);
}

.booth-text p {
    font-size: 1.1rem;
    line-height: 1.8;
    text-align: justify;
}

section:nth-child(even) .booth-text h2 {
    color: #00884d;
}

section:nth-child(even) .booth-text p {
    color: #171717;
}

.booth-image {
    flex: 1 1 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.booth-image img {
    width: 30%;
    max-width: 300px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 255, 102, 0.3);
    transition: transform 1.6s ease, box-shadow 0.6s ease;
}

.booth-image img:hover {
    transform: rotateY(8deg) rotateX(5deg) scale(1.05);
    
}

.pricing {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    color: #00ff88;
}

section:nth-child(even) .pricing {
    color: #00884d;
}

@media (max-width: 768px) {
    section.booth {
        flex-direction: column;
        text-align: center;
    }

    .booth-image {
        order: -1;
        width: 100%;
        margin-bottom: 2rem;
    }
}

