* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Tektur', sans-serif;
}

body {
  background-color: #e1e1e1;
  color: white;
  min-height: 100vh;
  background-image: url('../Img/BG1.png');
  background-size: contain; 
  background-position: center; 
  background-repeat:repeat-y;
  background-attachment:local;
 
}

.page-shutter {
  position: fixed;
  top: 50%;
  left: 50%;
  inset: 0;
  width: 300vw;   
  height: 300vh;
  background: #000000;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0); 
  z-index: 9999;
  pointer-events: none;
  z-index: 999;
}

nav {
  width: 100%;
  height: 70px;
  background:#000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 5px solid #00884d;
}

nav img {
  height: 50px;
}

nav label[for="logo"] {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #ccc;
  font-size: 1rem;
  transition: color 0.3s, text-shadow 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
  color:#00ff88;
  text-shadow: 0 0 8px #00ff66;
  border-bottom: 2px solid #00ff66;
}

#check {
  display: none;
}

.bar-button {
  display: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

footer {
  background-color:#000000;
  color: #ccc;
  padding: 40px 20px;
  text-align: center;
  font-family: 'Tektur', sans-serif;
  position: relative;
  z-index: 10;
  border-top: 5px solid #00884d;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#footer-logo {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
}

.footer-links {
  display: flex;
  gap: 30px;
}

.footer-links a {
  color: #ccc;
  font-size: 1.8rem;
  transition: all 0.3s ease;
}

.footer-links a:hover {
  color: #00ff66;
  transform: scale(1.2);
  text-shadow: 0 0 8px #00ff66;
}

@media (max-width: 1030px) {
  body{
    background-image: none;
  }
}

@media (max-width: 870px) {
  nav {
    flex-wrap: wrap;
    height: auto;
    padding: 15px 30px;
    transition: all 0.3s ease;
  }

  body{
    background-image: none;
  }

  .bar-button {
    display: block;
    color:#00ff88;
  }

  nav ul {
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: #000000;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
  }

  nav ul li {
    margin: 15px 15px;
  }

  #check:checked ~ ul {
    max-height: 600px; 
  }

  main {
    transition: margin-top 0.4s ease;
    padding-top: 1px; 
    text-align: center;
  }

  #check:checked ~ main {
    margin-top: 250px;
  }

    .footer-container {
    gap: 15px;
  }
  
  .footer-links a {
    font-size: 1.5rem;
    gap: 20px;
  }

}