.studio-hire {
  text-align: center;
  padding: 4rem 2rem;
  background-color: #e1e1e1;
  color: #171717;
}

.studio-hire h1 {
  
  font-size: 35px;
  color: #00884d;
  text-shadow: 0 0 8px rgba(73, 247, 166, 0.952);
  margin-bottom: 1rem;
  margin-top: 5rem;
  text-align:center;


}

.studio-hire .intro {
  max-width: 700px;
  margin: 0 auto 1rem;
}

.highlight {
  color: #4CAF50;
  font-weight: bold;
}

.price {
  display: block;
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #2e7d32;
}

.studio-gallery {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.studio-gallery img {
  width: 260px;           
  height: auto;            
  border-radius: 12px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  object-fit: contain;    
}

.studio-gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

.archives {
  background-color: #171717;
  color: #f1f1f1;
  text-align: center;
  padding: 5rem 2rem;
}

.archive-gallery {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
}

.archive-gallery img {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3;
  border-radius: 10px;
  cursor: pointer;
  object-fit: contain;
  transition: transform 0.3s, filter 0.3s;
}

.archive-gallery img:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

#lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;
}

#lightbox-img {
  max-width: 90%;
  max-height: 90vh;
  width: auto;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  transition: color 0.3s;
  padding: 0 1rem;
  z-index: 10;
}

.prev:hover, .next:hover {
  color: #4CAF50;
}

.prev { left: 40px; }
.next { right: 40px; }

.close {
  position: absolute;
  top: 40px;
  right: 60px;
  color: #fff;
  font-size: 2.5rem;
  cursor: pointer;
  transition: 0.3s;
  z-index: 10;
}

.close:hover { color: #4CAF50; }
