   body {
      margin: 0;
      background-color:  #e1e1e1;
      color: rgb(0, 0, 0);
      font-family: 'Tektur', sans-serif;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    main {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 4rem 2rem;
    }

    h1 {
      color: #00884d;
      text-shadow: 0 0 8px rgba(0, 255, 136, 0.3);
      font-size: 2.4rem;
      margin-bottom: 2rem;
      margin-top: 2rem;
    }

    p.intro {
      max-width: 700px;
      color: #000000;
      font-size: 1.1rem;
      line-height: 1.8;
      margin-bottom: 4rem;
      text-align: justify;
    }

    .studio-packages {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
      max-width: 1100px;
      width: 100%;
    }

    .price {
      color:#00884d;
      font-weight: 600;
      font-size: 1.1rem;
      margin-top: 1rem;
      display: block;
    }

    .highlight {
      color:#00884d;
      font-weight: bold;
    }

    footer {
      padding: 2rem 0;
      text-align: center;
      
    }

    @media (max-width: 768px) {
      h1 {
        font-size: 2rem;
      }

      .package-card {
        padding: 1.5rem;
      }
    }